* {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(8, 0, 0);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.line{
  background-color: #499A71;
  height: 1vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #FFF;
  height: 9vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 3px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

@media screen and (max-width:900px)  {
  .nav-list {
    list-style: none;
    display: none;
}

  body {
    overflow-x: hidden !important;
  }

  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width:100vw;
    height: 90vh;
    z-index: 1000;
    background: rgb(255, 255, 255);
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 9px;
    margin-top: 20px;
    border-bottom: 2px solid #499A71;
    opacity: 0;    
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
    display: flex;
    transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-9px, 9px);
}

.mobile-menu.active .line2{
  opacity: 0;
}


.mobile-menu.active .line3{
  transform: rotate(45deg) translate(-6px, -7px);
}